<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
	<appSettings>

		<add key="adlds:host"      value="HOSTNAME:PORT"/>
		<add key="adlds:container" value="OU=?,O=?"/>
		<add key="adlds:username"  value="DOMAIN\serviceaccount"/>
		<add key="adlds:password"  value="YOUR_PASSWORD_HERE"/>

		<add key="test:searchUser:enabled"  value="false"/>
		<add key="test:searchUser:username" value="user@domain.com"/>

		<add key="test:changePassword:enabled"     value="false"/>
		<add key="test:changePassword:username"    value="user@domain.com"/>
		<add key="test:changePassword:oldPassword" value="OLD_PASSWORD_HERE"/>
		<add key="test:changePassword:newPassword" value="NEW_PASSWORD_HERE"/>

		<add key="test:createAccount:enabled"  value="false"/>
		<add key="test:createAccount:username" value="newuser@domain.com"/>
		<add key="test:createAccount:password" value="PASSWORD_HERE"/>
		
	</appSettings>
</configuration>
